.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    max-height: 80vh; // Establecer una altura máxima del 80% del viewport height
    overflow-y: auto;
  }

  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input.error,
  select.error {
    border-color: red;
  }
  
  .error-msg {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Estilos adicionales según tus preferencias */
  .submit-btn {
    background-color: #007bff; /* Color de fondo azul para el botón de enviar */
    color: #fff; /* Color de texto blanco para el botón de enviar */
    border: none; /* Eliminar borde del botón */
    padding: 8px 16px; /* Añadir espacio interno al botón */
    border-radius: 5px; /* Borde redondeado del botón */
    cursor: pointer; /* Cambiar cursor al pasar por encima del botón */
  }
  
  .submit-btn:disabled {
    background-color: #ccc; /* Color de fondo gris para el botón de enviar desactivado */
    cursor: not-allowed; /* Cambiar cursor cuando el botón está desactivado */
  }
  
  .delete-btn {
    background-color: #dc3545; /* Color de fondo rojo para el botón de borrar */
    color: #fff; /* Color de texto blanco para el botón de borrar */
    border: none; /* Eliminar borde del botón */
    padding: 8px 16px; /* Añadir espacio interno al botón */
    border-radius: 5px; /* Borde redondeado del botón */
    cursor: pointer; /* Cambiar cursor al pasar por encima del botón */
  }
  .history-btn {
    background-color: white; /* Fondo blanco para el botón de Historia Clínica */
    color: #007bff; /* Color de texto azul claro para el botón de Historia Clínica */
    border: none; /* Eliminar borde del botón */
    padding: 8px 16px; /* Añadir espacio interno al botón */
    border-radius: 5px; /* Borde redondeado del botón */
    cursor: pointer; /* Cambiar cursor al pasar por encima del botón */
  }
  
  .close-btn {
    background-color: transparent; /* Fondo transparente para el botón de Cerrar */
    color: #007bff; /* Color de texto azul claro para el botón de Cerrar */
  }
  
  .close-btn:hover {
    background-color: #f0f0f0; /* Cambiar color de fondo al pasar el ratón */
  }
  
  .historia-clinica-btn:hover {
    background-color: #f0f0f0; /* Cambiar color de fondo al pasar el ratón */
  }
  
  .close-btn {
    background-color: #fefeff; /* Color de fondo azul para los botones */
    color: #0a0a0a; /* Color de texto blanco para los botones */
    border: none; /* Eliminar borde de los botones */
    padding: 8px 16px; /* Añadir espacio interno a los botones */
    border-radius: 5px; /* Borde redondeado de los botones */
    cursor: pointer; /* Cambiar cursor al pasar por encima de los botones */
    margin-right: 10px; /* Espacio entre botones */
  }


  