.table-container{
    .phone-number{
        display: flex;
        align-items: center;
        color: green;

            .whatsapp-icon {
                margin-right: 5px; 
            }
    }
}
.patient-name {
    color: #007bff; // Color azul claro
    cursor: pointer;
  }
  
  .patient-name:hover {
    text-decoration: underline; // Subraya el texto al pasar el ratón
  }
  