.treatment-form {
    display: flex;
    flex-direction: column;
  
    div {
      margin-bottom: 1rem;
    }
  
    label {
      font-weight: bold;
    }
  
    input[type="text"],
    input[type="date"],
    textarea {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
    }
  
    .close-btn [type="button"]{
      background-color: transparent; /* Fondo transparente para el botón de Cerrar */
      color: #007bff; /* Color de texto azul claro para el botón de Cerrar */
    }
  
    .submit-btn {
      background-color: #007bff; /* Color de fondo azul para el botón de enviar */
      color: #fff; /* Color de texto blanco para el botón de enviar */
      border: none; /* Eliminar borde del botón */
      padding: 8px 16px; /* Añadir espacio interno al botón */
      border-radius: 5px; /* Borde redondeado del botón */
      cursor: pointer; /* Cambiar cursor al pasar por encima del botón */
    }
  }
  