.form-container {
    background-color: #fff; /* Fondo blanco */
    padding: 20px; /* Espacio alrededor del formulario */
    border-radius: 10px; /* Bordes redondeados para la caja del formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 600px; /* Ancho máximo del formulario */
    width: 80cm;
    //width: 100%; /* Para asegurar que el formulario no exceda el ancho máximo */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .phone-input {
    display: flex;
    align-items: center;

    input[type="tel"] {
      width: calc(100% - 68px); // ajusta el ancho para el prefijo + espacio
      padding-left: 8px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    span {
      padding: 8px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  input.error,
  select.error {
    border-color: red;
  }

  .error-msg {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Estilos adicionales según tus preferencias */
  .submit-btn {
    background-color: #007bff; /* Color de fondo azul para el botón de enviar */
    color: #fff; /* Color de texto blanco para el botón de enviar */
    border: none; /* Eliminar borde del botón */
    padding: 8px 16px; /* Añadir espacio interno al botón */
    border-radius: 5px; /* Borde redondeado del botón */
    cursor: pointer; /* Cambiar cursor al pasar por encima del botón */
  }
  
  .submit-btn:disabled {
    background-color: #ccc; /* Color de fondo gris para el botón de enviar desactivado */
    cursor: not-allowed; /* Cambiar cursor cuando el botón está desactivado */
  }
  
  .delete-btn {
    background-color: #dc3545; /* Color de fondo rojo para el botón de borrar */
    color: #fff; /* Color de texto blanco para el botón de borrar */
    border: none; /* Eliminar borde del botón */
    padding: 8px 16px; /* Añadir espacio interno al botón */
    border-radius: 5px; /* Borde redondeado del botón */
    cursor: pointer; /* Cambiar cursor al pasar por encima del botón */
  }
  