.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e2e2;
    min-height: 100dvh;
    
  }
  
  
  .content {
    margin-top: 20px; /* Espacio entre el encabezado y el formulario */
  }
  
  
 
  
  
  
 
  
  
  